[database]
host = suse.local
port = 5432
username = pgadmin
password = postgres
db_name = estbot

[coinigy]
api_key = e493a932d2877eb4e7f59427017bbb06
api_secret = 4f1af4703bd9ca7436d4f25d0ef78b49

[symbol:BTRX:BTC/USDT]
monitor = 1
trade = 1
position = 4224
trends = 5291:0,4939:20,4598:35,4224:50,3896:65,3605:80,3210:100
partition_trends = 3
position_size = 0.001
paper = True
candle_period_seconds = 300
trade_frequency = 10

[symbol:BTRX:ETH/USDT]
monitor = 1
trade = 0

[symbol:BTRX:LTC/USDT]
monitor = 1
trade = 0

[symbol:BTRX:XMR/USDT]
monitor = 1
trade = 0

[symbol:PLNX:LTC/BTC]
monitor = 0
trade = 0

[symbol:BITF:XRP/BTC]
monitor = 1
trade = 0

[symbol:BITF:NEO/BTC]
monitor = 1
trade = 0
