[database]
host = suse.local
port = 5432
username = pgadmin
password = postgres
db_name = estbot

[coinigy]
api_key = <api key>
api_secret = <api secret>

[symbol:BTRX:BTC/USDT]
monitor = 1
trade = 1
trends = 5291,4939,4598,4224,3896,3605,3210
position_size = 0.001
paper = True
candle_period_seconds = 300
trade_frequency = 10

[symbol:BTRX:ETH/USDT]
monitor = 1
trade = 0

[symbol:BTRX:LTC/USDT]
monitor = 1
trade = 0

[symbol:BTRX:XMR/USDT]
monitor = 1
trade = 0

[symbol:PLNX:LTC/BTC]
monitor = 0
trade = 0

[symbol:BITF:XRP/BTC]
monitor = 1
trade = 0

[symbol:BITF:NEO/BTC]
monitor = 1
trade = 0
